body {
font-family: Arial;
margin: 0;
padding: 0;
background: #f4f4f4;
text-align: center;
}

header {
background: #111;
color: white;
padding: 15px;
}

nav a {
color: white;
margin: 10px;
text-decoration: none;
}

.hero {
padding: 60px;
background: #0077ff;
color: white;
}

footer {
background: #111;
color: white;
padding: 10px;
position: fixed;
bottom: 0;
width: 100%;
}
